.image-slider {
	border-left: $green 5px solid;
	@media (max-width: 560px) {
		border-left: 0;
	}
	&__wrapper {
		height: 100%;
	}
	&__green {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $green;
		opacity: 0.5;
		transition: all 0.7s ease;
	}
	&__green:hover {
		opacity: 0;
	}
	&__image {
		position: relative;
		width: 100%;
		height: 45vh;
		background-size: cover;
	}
}
.swiper-slide {
	height: 100%;
	position: relative;
	z-index: 1;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 50px;
	color: #ffffff;
	position: relative;
	z-index: 1;
}
.swiper-button-next {
	right: 5%;
}
.swiper-button-prev {
	left: 5%;
}
.image-slider {
	&__content {
		width: 50%;
	}
}
.swiper-slide {
	position: relative;
}
.content-image-slider {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__title {
		font-family: "Open Sans";
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		text-transform: uppercase;
		color: rgb(240, 239, 239);
		margin-bottom: 10px;
		text-align: center;
		color: blue;
	}

	&__text {
		position: relative;
		z-index: 1;
		font-family: "Nunito";
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		color: rgb(240, 239, 239);
		text-align: center;
		color: blue;
	}
}
.swiper-pagination-bullet {
	border: 3px solid #ffffff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 15px;
}

@media (max-width: 1150px) {
	.image-slider {
		&__content {
			width: 70%;
		}
	}
}
@media (max-width: 1150px) {
	.content-image-slider__title {
		font-size: 40px;
		line-height: 40px;
	}
	.content-image-slider__text {
		font-size: 24px;
		line-height: 20px;
	}
}
@media (max-width: 720px) {
	.image-slider {
		&__content {
			width: 47%;
		}
	}
}

@media (max-width: 480px) {
	.swiper-button-next {
		right: 10%;
	}
	.swiper-button-prev {
		left: 10%;
	}
	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 40px;
		z-index: 1;
	}
	.image-slider {
		&__content {
			width: 60%;
		}
	}
	.content-image-slider__title {
		margin-bottom: 0;
		font-size: 25px;
		line-height: 25px;
	}
	.content-image-slider__text {
		font-size: 13px;
		line-height: 17px;
	}
}

@media (max-width: 380px) {
	.swiper-button-next {
		right: 3%;
	}
	.swiper-button-prev {
		left: 3%;
	}
	.image-slider {
		&__content {
			width: 80%;
		}
		.content-image-slider__title {
			margin-bottom: 3px;
			font-size: 18px;
			line-height: 20px;
		}
		.content-image-slider__text {
			font-size: 13px;
			line-height: 14px;
		}
	}
}
.swiper-pagination-bullet {
	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
}
@media (max-width: 620px) {
	.swiper-pagination-bullet {
		border: 2px solid #ffffff;
		width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
		height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 8px;
	}
}
@media (max-width: 450px) {
	.swiper-pagination-bullet {
		border: 1px solid #ffffff;
		width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
		height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px));
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 4px;
	}
}

